body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
body h1{
    margin-top: 2%;
}
h1, h2, p {
    text-align: center;
}

div {
    margin-bottom: 10px;
}

select {
    padding: 5px;
}

button {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}


header{
    background-color: #ccc;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
}


nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


nav ul{
    list-style: none;
}

nav ul li{
    display: inline-block;
}

nav ul li a{
    padding: 10px 20px;
    text-decoration: none;
    font-size: 19px;
    color: #000;
    border-radius: 30px;
    transition: 0,6s;
}
nav ul li a:hover{
    background-color: rgb(0, 123, 255);
    color: #fff;
}

.container{
    padding: 1%;
    margin: 0 auto;
}

.logo{
    font-size: 35px;
    font-style: italic;
    font-weight: bold;
}

.pais{
    font-style: italic;
    font-weight: bold;
}

.top{
    box-shadow: 0 1rem 3rem rgba(black, .175);
}

#stats {
    margin-top: 20px;
}

#country{
    margin-bottom: 10px;
}
#countryNameSelected{
    font-size: 4em;

}
#confirmedCases{
    color: rgb(170, 170, 170);
    font-size: 6em;
}

#confirmedDeaths{
    color: rgb(105, 105, 105);
    font-size: 6em;
}

#h2ConfirmedCases, #h2ConfirmedDeaths, #h1countryNameSelected{
    color: rgb(85, 85, 85);
}